.movies-card-list {
    margin: 0 auto;
    padding: 40px 10px 30px;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

@media (min-width: 768px) {
    .movies-card-list {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 36px;
        padding: 70px 30px 30px;
        /* padding-left: calc((100% - (282px*2 + 17px))/2); */
        /* padding-right: calc((100% - (282px*2 + 17px))/2); */
    }
}

@media (min-width: 1280px) {
    .movies-card-list {
        grid-template-columns: repeat(3, 1fr);
        padding: 70px 70px 30px;
        /* padding-left: calc((100% - (282px*3 + 17px*2))/2); */
        /* padding-right: calc((100% - (282px*3 + 17px*2))/2); */
    }
}