.more {
    padding: 50px 40px 80px;
    height: 166px;
    box-sizing: border-box;
}
.more__button {
    margin: 0 auto;
    display: block;
    min-width: 240px;
    max-width: 320px;
    width: calc(100% - 80px);
    height: 36px;
    border: none;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-align: center;
    cursor: pointer;
}