.nav__movies {
  justify-self: center;
  display: none;
}
.nav__movies_hidden {
  display: none;
}
.nav__empty_hidden {
  display: none;
}

.nav__links {
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
  list-style-type: none;
  color: #000;
}
.nav__list-item {
  display: inline;
  margin-right: 14px;
  font-size: 10px;
  line-height: 1.6;
}

.nav__list-item:last-child {
  margin-right: 0;
}
.nav__link {
  margin: 0;
  padding: 0;
  color: #000;
  text-decoration: none;
}
.nav__button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-weight: 400;
}

.nav__button:hover {
  opacity: 0.6;
  transition: opacity 0.5s linear 0.2s;
}

.nav__button_active-page {
  font-weight: 500;
  cursor: default;
}

.nav__button_active-page:hover {
  opacity: 1;
  transition: none;
}

@media (min-width: 768px) {
  .nav__link {
    font-size: 12px;
    line-height: 1.34;
  }
  .nav__list-item {
    margin-right: 30px;
  }

  .nav__list-item_movies {
    margin-right: 16px;
    font-size: 13px;
    line-height: 1.39;
  }
}

@media (min-width: 1280px) {
  .nav__link {
    font-size: 13px;
  }

  .nav__movies {
    display: block;
  }

  .nav__movies_hidden {
    display: none;
  }
}
