/* 320 Информация о студенте */
.about-me {
  margin: 0 auto;
  padding: 70px 14px;
}

.about-me__columns {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.about-me__column {
  margin: 0 auto;
}

.about-me__title {
  margin: 0;
  padding: 60px 0 0 0;
  line-height: 1.2;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: -1.2px;
  text-align: left;
}

.about-me__about {
  margin: 0;
  padding-top: 20px;
  font-size: 11px;
  line-height: 1.45;
  font-weight: 500;
  text-align: left;
}

.about-me__text {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
  font-size: 11px;
  line-height: 1.45;
  text-align: left;
}

.about-me__avatar {
  width: 292px;
  height: 352px;
  object-fit: cover;
  object-position: top;
  vertical-align: top;
  border-radius: 10px;
}

.about-me__link {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
}

/* Разрешение экрана 768 */
@media (min-width: 768px) {
  .about-me {
    padding: 90px 50px;
  }

  .about-me__columns {
    padding-top: 66px;
    flex-direction: row-reverse;
    gap: 49px;
  }

  .about-me__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-me__title {
    padding-top: 0px;
    font-size: 40px;
    line-height: 1;
  }

  .about-me__about {
    padding-top: 16px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 1.5;
  }

  .about-me__avatar {
    width: 255px;
    height: 307px;
  }
}

/* Разрешение экрана 1280 */
@media (min-width: 1280px) {
  .about-me {
    padding: 110px 70px 125px 70px;
  }

  .about-me__title {
    font-size: 50px;
    line-height: 1.16;
  }

  .about-me__about {
    padding-top: 18px;
    font-size: 18px;
    line-height: 1.11;
  }

  .about-me__text {
    padding-top: 26px;
    font-size: 14px;
    line-height: 1.57;
  }

  .about-me__avatar {
    width: 270px;
    height: 327px;
  }
}